@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes marching-ants {
  to {
    background-position:
      var(--ants-size) 0,
      100% var(--ants-size),
      calc(100% - var(--ants-size)) 100%,
      0 calc(100% - var(--ants-size));
  }
}

@keyframes shrinkX {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
